.container1024 {
    max-width: 1024px;
    margin: auto;
    padding: 10px;
}
.padd10px {
    padding: 5px;
}
.f-directcol {
    flex-direction: column;
}
.f-grow0 {
    flex-grow: 0;
}
.f-wrap {
    flex-wrap: wrap;
}

.box {
    background-color: dimgrey;
    min-height: 50px;
    min-width: 50px;
}
.box1 {
    background-color: darkgrey;
    min-height: 100px;
    min-width: 100%;
}
.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 15px;
    padding-top: 15px;
}

.padtop {
    padding-top: 10px;
}
.heigth100 {
    height: 100%;
}
.pad {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 500px){
    .col-33 {
        flex: 0 0 33%;
        max-width: 33%;
        padding: 0 15px;
        padding-top: 15px;
    }
}
@media screen and (max-width: 300px){
    .col-50 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px;
        padding-top: 15px;
    }
}